/* default slide styles */
.swiper-slide {
  transition: opacity 0.3s, transform 0.3s ease-in-out !important;
  transform: scale(1) !important;
}

/* active slide styles */
.swiper-slide-active {
  transform: scale(1.09) !important;
  transition: opacity 0.3s, transform 0.3s ease-in-out !important;
}
